*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  min-height: 100%;
  background-color:black;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.container {
 max-width: 55vw;
}

.sale{
  max-width: 30vw;
  padding: 20px;
  margin-top: 20px;
}

.carousel{
  gap: 8px;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.card{
background-color: white;
margin: 10px;
padding: 10px;
width: 280px;
flex: none;
}

.img-card{
  border-radius: 5px;
  max-width: 50vw;
  min-height: 13.3vw;
}

.info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name-card{
  color: red;
display: block;
text-align: center;
padding: 5px;
border-radius: 10px;
font-size: 1.5rem;
font-weight: bold;
margin: 8px 0;
}

span{
display: block;
color: white;
text-align: center;
padding: 5px;
margin-bottom: 5px;
border-radius: 10px;
font-size: 1.1rem;
font-weight: bold;
background-color:rgba(255, 0, 0, 0.806);
}

.buttons{
display: flex;
justify-content: center;
padding: 10px;
gap:60px;
}

button{
  background-color: black;
  border: none;
}

button>img{
  width: 40px;
}
