*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  min-height: 100%;
  background-color:whitesmoke;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.container {
 max-width: 51vw;
}

.carousel{
  gap: 5px;
  margin-top: 50px;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.card{
background-color: white;
margin: 10px;
padding: 10px;
width: 280px;
}

.img-card{
  width: 210px;
  height: 200px;
  border-radius: 5px;
  
}

.info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name-card{
  color: red;
display: block;
text-align: center;
padding: 5px;
border-radius: 10px;
font-size: 1.5rem;
font-weight: bold;
margin: 8px 0;
}

span{
  display: block;
text-align: center;
padding: 5px;
border-radius: 10px;
font-size: 1.1rem;
font-weight: bold;
background-color:rgba(255, 0, 0, 0.609);
}

